<%= render "shared/header" %>

<div class = "studio-page">
  <div class = "studio-content">
    <%= render "shared/album_create" %>

    <div class = "albums section ml-5 mr-5 mt-5">
      <h2 class = "text-2xl text-white">Альбомы</h2>
      <div class = "flex flex-row gap-5 mt-3 pb-1">
        <% @albums.each do |album| %>
          <%= render 'shared/album_card', album: album, show_actions: true %>
        <% end %>
      </div>
    </div>
  </div>
</div>