<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-temporary>
    <ul class = "text-red-500 flex justify-center flex-col">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
