<div id="main-footer" data-turbo-permanent class = "footer border-t h-10 w-full border-solid border-b-neutral-800 bottom-0">
    <div class = "footer-container flex justify-between ">
    </div>
</div>